:host {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--gray-color);
    color: var(--light-color);
    border-bottom: 1px solid var(--light-color);

    p {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--light-color);
    }

    .logout-btn {
        width: calc(5% - 8px);
        height: 25px;
        position: absolute;
        right: 2%;
    }

}
