[submodule "CSA/csa-lab4"]
	path = csa/csa-lab4
	url = git@github.com:awesoma31/csa-lab4.git
    branch = main
[submodule "programming-langs/lab1"]
	path = programming-langs/lab1
	url = https://gitlab.se.ifmo.ru/awesoma31/assignment-1-io-library.git
    branch = master
[submodule "programming-langs/lab2"]
	path = programming-langs/lab2
	url = https://gitlab.se.ifmo.ru/awesoma31/assignment-2-dictionary.git
    branch = master
[submodule "programming-langs/lab3"]
	path = programming-langs/lab3
	url = https://gitlab.se.ifmo.ru/awesoma31/assignment-3-image-transform.git
    branch = master
[submodule "programming-langs/lab4"]
	path = programming-langs/lab4
	url = https://gitlab.se.ifmo.ru/awesoma31/assignment-4-memory-allocator.git
    branch = master
[submodule "fp/lab1"]
	path = fp/lab1
	url = git@github.com:awesoma31/fp-lab1.git
[submodule "fp/lab0"]
	path = fp/lab0
	url = git@github.com:awesoma31/fp-lab0.git
[submodule "os/xv6"]
	path = os/xv6
	url = git@github.com:awesoma31/itmo-os-xv6.git
[submodule "fp/lab2"]
	path = fp/lab2
	url = git@github.com:awesoma31/fp-lab2
[submodule "functional-ciruitry"]
	path = functional-ciruitry
	url = git@github.com:awesoma31/functional-circuitry.git
[submodule "electrical-engineering"]
	path = electrical-engineering
	url = git@github.com:awesoma31/electrical-engineering.git
[submodule "fp/lab4"]
	path = fp/lab4
	url = git@github.com:awesoma31/fp-lab4.git
