[submodule "PL, ЯП/lab1/assignment-1-io-library"]
	path = PL, ЯП/lab1/assignment-1-io-library
	url = https://gitlab.se.ifmo.ru/awesoma31/assignment-1-io-library.git
[submodule "PL, ЯП/lab2/assignment-2-dictionary"]
	path = PL, ЯП/lab2/assignment-2-dictionary
	url = https://gitlab.se.ifmo.ru/awesoma31/assignment-2-dictionary.git
[submodule "WebProgramming/lab4-back"]
	path = WebProgramming/lab4-back
	url = https://github.com/awesoma31/web-lab4-back.git
[submodule "WebProgramming/lab4-front"]
	path = WebProgramming/lab4-front
	url = git@github.com:awesoma31/web-lab4-front.git
[submodule "WebProgramming/web-lab4-back"]
	path = WebProgramming/web-lab4-back
	url = https://github.com/awesoma31/web-lab4-back.git
[submodule "CSA/csa-lab4"]
	path = CSA/csa-lab4
	url = https://github.com/awesoma31/csa-lab4.git
