header {
    font-family: monospace;
    background-color: var(--secondary-background);
    overflow: hidden
}

header h1 {
    font-size: 40px;
    color: var(--primary-text);
    padding-left: 50px
}

header h2 {
    font-size: 35px;
    color: var(--secondary-text);
    padding-left: 50px
}

header h2::after {
    color: rgba(0, 0, 0, 0);
    content: " | ПИиКТ, ИТМО";
    transition-property: color;
    transition-duration: .5s
}

header:hover h2::after {
    color: var(--secondary-text)
}