.results-div {
    height: 100%;
    width: 100%;

    background-color: var(--dark-color);
}

.cell-number {
    opacity: 0.6;
}

.table-div {

    background-color: var(--light-color);
}

.results-table {

}
