<div class="data-div">
    <form (ngSubmit)="sendPoint()" class="data-form rounded-div">
        <div class="x-div rounded-div">
            <nz-form-item>
                <nz-form-label nzFor="x">Please enter X</nz-form-label>
                <nz-form-control nzErrorTip="Please enter X">
                    <nz-input-number (ngModelChange)="updateX($event)" [(ngModel)]="x" class="input" name="x" nzMax="3" nzMin="-5"
                                     nzPlaceHolder="Select X" nzStep="1"></nz-input-number>
                </nz-form-control>
            </nz-form-item>

        </div>

        <div class="y-div rounded-div">
            <nz-form-item>
                <nz-form-label>Y = {{ y }}</nz-form-label>

                <nz-slider (ngModelChange)="updateY($event)" [(ngModel)]="y" [nzMax]="5" [nzMin]="-3" [nzStep]="1"
                           name="y"></nz-slider>

            </nz-form-item>
        </div>

        <div class="r-div rounded-div">
            <nz-form-item>
                <nz-form-label>Please enter R</nz-form-label>
                <nz-input-number (ngModelChange)="updateR($event)" [(ngModel)]="r" class="input" name="r" nzMax="4" nzMin="1"
                                 nzPlaceHolder="Select R" nzStep="1"></nz-input-number>
            </nz-form-item>
        </div>

        <div class="buttons-div">
            <button class="submit-btn btn" nzType="primary">Send Point</button>
        </div>
    </form>
</div>

<router-outlet/>
