:host {
  //display: flex;
  //align-items: center;
  //justify-content: center;
}

.data-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-form {
  background-color: #222;
  display: grid;
  grid-template-rows: 30% 30% 30% 10%;
  grid-column-gap: 5px;

  height: 100%;
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
}

.buttons-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.y-div, .x-div, .r-div {
  border: 1px solid black;
}

.submit-btn {
  width: 70%;
  height: 40px;
}
