<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="toolBarButton1.Text" value="Обучение" />
		<add key="MainToolBar.AutoSize" value="True" />
		<add key="MainToolBar.Enabled" value="True" />
		<add key="MainToolBar.Visible" value="True" />
		<add key="MainToolBar.TabIndex" value="4" />
	</appSettings>
</configuration>