:host {
    background-color: var(--black-color);
    color: var(--light-color);
}

.navbar {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--dark-color);
    color: var(--light-color);
    border-bottom: 1px solid var(--purple-color);

    .logout-btn {
        width: calc(5% - 8px);
        height: 25px;
        position: absolute;
        right: 2%;
    }

}

.name {
    margin: 0 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--light-color);
}
