:host {
    background-color: var(--black-color);
    color: var(--light-color);
}

.navbar {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--dark-color);
    color: var(--light-color);
    border-bottom: 1px solid var(--blue-color);

    .logout-btn {
        width: calc(5% - 8px);
        height: 25px;
        position: absolute;
        right: 2%;
    }

}

.navbar-icon {
    margin-right: 8px;
    margin-left: 8px;
    font-size: 24px;
    color: white;
    text-decoration: none;

    &:hover {
        color: var(--blue-color); /* GitHub green */
    }
}

.logout-btn {
    &:hover {
        color: var(--hover-color);
    }
}

.spacer {
    flex: 1 1 auto;
}

.name {
    margin: 0 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--light-color);
}
