@font-face {
    font-display: swap;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/JetBrainsMono-Medium.woff2') format('woff2');
}

.Mono {
    font-family: 'JetBrains Mono', monospace;
}

.fw800 {
    font-weight: 800;
}

.fw600 {
    font-weight: 600;
}

.fw400 {
    font-weight: 400;
}

