@import "fonts.scss";

:root {
    --light-color: #f9f9f9;
    --black-color: #000000;
    --purple-color: #70f;
    --purple3-color: rgb(110, 70, 220);
    --blue-color: rgb(20, 119, 255);
    --b: rgb(243, 23, 151);
    --purple4-color: #60f;
    --hover-color: rgb(20, 119, 255);
    --light-purple-color: #9a76fe;
    --purple2: rgb(110, 70, 220);
    --g: rgb(20, 119, 255);
    --coral-color: rgb(240, 7, 85);
    --red-orange-color: rgb(230, 0, 35);
    --dark-color: #121212;
    --light-gray-color: #2d2d2d;
}

body {
    background-color: var(--light-gray-color);
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
}

.btn {
    color: var(--light-color);
    //background-color: var(--secondary-color);
    background-color: var(--light-gray-color);
    border-radius: 5px;
    border: 1px solid black;

    &:hover {
        border-color: black;
        background-color: var(--hover-color);
    }
}

.input {
    width: 100%;

    &:hover {
        border-color: var(--hover-color);
    }
}

.rounded-div {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--light-color);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid;
    //border-color: var(--secondary-color);
}

html, body {
    height: 100%;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
